# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.class

# Test binary, built with `go test -c`
*.test

# Input Test Files
input/**

# Output of the go coverage tool, specifically when used with LiteIDE
output/**
code-runner

